body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #2e2f42;
  background: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ------------logo-------------*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-part-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
/* ------header nav------ */
.nav-title {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-title:hover {
  color: #404bbf;
}

.adress {
  font-style: normal;
}

.adress-link {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

/* ------main------ */

.section-solutions {
  background: #2e2f42;
}

.section-solution-title {
  font-size: 56px;
  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.btn-service {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
}
.btn-service:hover,
.btn-service:focus {
  background: #404bbf;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background: #f4f4fd;
}

.team-title {
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-cards {
  background: #fff;
}

.team-cards-subtiteles {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-cards-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio-title {
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.project-cards {
  background: #fff;
}

.fportfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.fportfolio-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------Footer------ */

.footer {
  background: #2e2f42;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo-footer-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
